html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}
#modal-block {
    text-align: center;
    position: absolute;
    visibility:hidden;
    background-color: rgba(240,248,264,0.8);
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    height: 180px;
}
#form-name {
    margin-bottom: 10px;
    margin-top: 10px;
}
#modal-block .button {
    background-color: #52a1ff;
    color: white;
    width: 50%;
    float: right;
    height: 25px;
    border-radius: 5px;
    margin: 0 auto;
}
.input-group {
    clear: both;
    margin-bottom: 20px;
}
.input-group span{
    width: 45%;
}
.input-group input{
    height: 15px;
    float: right;
    width: 50%;
    padding: 5px;
    border-radius: 3px;
    border: #8d8c8c 1px solid;
}
#close {
    font-size: 25px;
    position: absolute;
    right: -14px;
    top: -14px;
    cursor: pointer;
}
#start {
    font-weight: bold;
    height: 50px;
    visibility: visible;
    width: 120px;
    border-radius: 20px;
    margin-bottom: 50px;
    background-color: #57d756;
    color: #fff;
    cursor: pointer;
}
#start:hover {
    color:#57d756;
    background-color: #fff;
}